# Example `apt` requirements file. `sudo` and `zsh` are required packages.
aptitude
at
curl
git
numactl
sudo
zsh
#
/tmp/apt/bat_0.22.1_amd64.deb
/tmp/apt/glow_1.4.1_linux_amd64.deb
/tmp/apt/ripgrep_13.0.0_amd64.deb

